<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A2BE6842A9A2D1600A0D255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2BE68B2A9A2D1700A0D255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AAFCC642A30F44E00B6A5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AAFCC6C2A30F44F00B6A5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC7E1812A910DAD0023A475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD986D62A7FDB8A006E81C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
